extends layout

block content
    .container-fluid
        .row
            h3 Raj Shrimali 
                br
                small This is Fun
        .row
            h3 Tai Jellá
                br
                small Uhh... Hi
        .row
            h3 Siddharth Srivatsan
                br
                small Politics Politics Politics
        .row
            h3 Spencer Hong 
                br
                small Wait... what? 
