extends layout

block content
    .container-fluid
        .row
            h3 Raj Shrimali 
                br
                small This is Fun
        .row
            h3 Tai Jellá
                br
                small Uhh... Hi
        .row
            h3 Siddharth Srivatsan
                br
                small Politics Politics Politics
        .row
            h3 Spencer Hong 
                br
                small Wait... what? 
        .row
            h3.text-center Special Thanks To
            .col-xs-6 
                h4 Sunlight Foundation
                p The Sunlight Foundation provides a lot of the data for our use, so a shoutout to them for having all of this. More info can be found at their 
                    a(href="http://sunlightfoundation.com") website
            .col-xs-6 
                h4 OpenSecrets 
                p OpenSecrets provides us with nicely formatted FEC data, data that is obfuscated beyond understanding normally. This would not be possible without them. Thank you! 
                a(href="https://www.opensecrets.org") OpenSecrets.org
