extends layout

block content
    h2.text-center Campaign Clarity 
        small Fighting Corruption 
    p.lead Transparency is what makes Democracy different from Tyranny. Since the beginning, Americans have fought for freedom and justice. So, it is unfortunate that now, politics is imbued with money. What must our forefathers think, to see us abandon the very ideas that make us Americans for a few cents? 
    | We at Campaign Clarity want to correct the corruption in congress. Our efforts aim to increase 
    | transparency and make it clear why each politician votes the way they do. We hope that by this, 
    | we will be able to see how, exactly, the money from giant corporations influences the political 
    | process. 
    br
    br
    &nbsp;
