doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title The Glass Ceiling Project
        link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
        //- theme
        link(rel='stylesheet', href='bootstrap-material-design/dist/css/material-wfont.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/socket.io/socket.io.js")
        
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    .navbar-brand The Glass Ceiling Project
                h3.text-center= page
        .container-fluid
            .col-xs-3.sidebar
                    ul.nav.nav-stacked.list-group.list-unstyled
                        li.list-group-item
                            a.btn.btn-primary.btn-block.btn-raised(role="button", href="/") Home
                        li.list-group-item
                            a.btn.btn-primary.btn-block.btn-raised(role="button", href="/search") Search
                        li.list-group-item
                            a.btn.btn-primary.btn-block.btn-raised(role="button", href="/about") About Us
            #content.col-xs-9.img-rounded
                block content
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        script(src="bootstrap/dist/js/bootstrap.min.js")
        script(src="bootstrap-material-design/dist/js/material.min.js")
