extends layout
block content
    script(src="javascripts/tablegen.js")
    .container-fluid
        form(action="javascript:void(0)", method="get")
            .form
                label.sr-only(for="Search Query") Search Term
                .input-group
                    .input-group-addon Search: 
                    input.form-control#inputfield(type="text",placeholder="e.x. hr3-114, Keystone XL" autocomplete="off")
                input#send.btn.btn-default.btn-success(type='button', value='Go')
        .row.invisible#status
            h3 Status
            .div
                h5 Info: 
                .div 
                    .p#infosec
            .progress.progress-striped.active#stbwrp
                .progress-bar.progress-bar-info#statusbar(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")
        .row
            .table-responsive
                table.table.table-bordered#data
