extends layout
block content
    #form
        form(action="")
            .textInput
                input#field()
            input#send(type='button', value='send')
    h1 STATUS
    table#data
    
