extends layout
block content
    #form
        form(action="javascript:void(0)", method="get")
            .textInput
                input#field(type="text", autocomplete="off")
            input#send(type='button', value='Search')
    h1 STATUS
    table#data
    
